<h1 class="home-title">Idea Box</h1><br />

<span class="labels-md">New Idea</span>
<form>
  <span class="labels">Title:</span><br />
  <input type="text" id="new-title-field" name="new-title" /><br />
  <span class="labels">Body:</span><br />
  <input type="text" id="new-body-field" name="new-body" /><br />
  <span class="labels">Tags:</span><br />
  <input type="text" id="new-tags-field" name="new-tags" /><br /><br />
  <input type="submit" id="new-idea-submit" value="Submit" /><br />
</form><br /><br />

<span class="labels-md">Search</span><br />
<input type="text" id="search-field"><br /><br /><br />

<span class="labels-lg">All Ideas</span><br /><br />
<div class="tags">
  <% @tags.each do |tag| %>
    <span class="tag"><%=tag.name%></span><span class="tag-separator"> | </span>
  <% end %>
</div><br />
<button type="button" class="clear-tags">Clear Tags</button><br /><br />
<div class="ideas"></div>
