<h1>Ideas</h1>
<% @ideas.each do |idea| %>
  <h3 class="idea-title"><%= idea.title %></h3>
  <h5 class="idea-body">Body: <%= idea.body %></h5>
  <h5 class="idea-quality">Quality: <%= idea.quality %></h5>
  <br><br>
<% end %>
