<h1>Ideas</h1>

<form>
  Title:<br>
  <input type="text" id="new-title-field" name="new-title"><br>
  Body:<br>
  <input type="text" id="new-body-field" name="new-body"><br>
  <input type="submit" id="new-idea-submit" value="Submit"><br>
</form>

<div class="ideas"></div>
