<h1>Idea Box</h1><br />

<h4>New Idea</h4>
<form>
  Title:<br />
  <input type="text" id="new-title-field" name="new-title" /><br />
  Body:<br />
  <input type="text" id="new-body-field" name="new-body" /><br />
  <input type="submit" id="new-idea-submit" value="Submit" /><br />
</form>
<br />

<h4>Search</h4>
<input type="text" id="search-field"><br /><br />

<h2>All Ideas</h2><br /><br />
<div class="ideas"></div>
