$(document).ready(function() {
  createIdeaIndex();
});

function displayIdea(ideaObj) {
  return $(openIdeaDiv(ideaObj) + displayProperties(ideaObj) + displayButtons() + '</div><br /><br />');
};


function appendIdeas(ideas, target) {
  $(target).append(ideas.map(displayIdea));
};

function createIdeaIndex(target) {
  $('#search-field').val("");
  var target = $('.ideas').empty();
  return $.getJSON('/ideas').then(function (all_ideas) {
    all_ideas.ideas.sort(chronSort);
    appendIdeas(all_ideas.ideas, target);
  });
};

function truncate(body) {
  if (body.length > 100) {
    for (var i = 99; i > 0; i--) {
      if (body[i] === " ") {
        return body.substring(0, i) + " ...";
      }
    }
  }
  else {
    return body;
  }
};

function chronSort(x, y) {
  var a = new Date(x.idea.created_at);
  var b = new Date(y.idea.created_at);
  return (b - a);
};

function openIdeaDiv(ideaObj){
  return '<div class="idea" data-idea-id="' + ideaObj.idea.id + '" ' +
    'data-idea-title="' + ideaObj.idea.title + '" ' +
    'data-idea-body="' + ideaObj.idea.body + '">'
};

function displayProperties(ideaObj){
  var body = truncate(ideaObj.idea.body);
  return '<h3 class="title-display">' + ideaObj.idea.title + '</h3><h4>Quality: ' +
    ideaObj.idea.quality + '</h4><h5>'+ ideaObj.idea.created_at + '</h5><h5 class="body-display">' +
    body + '</h5>' + '<h5 class="tags-display">' + displayTags(ideaObj) + '</h5>'
  };

function displayButtons(){
  var thumbsDown = "<%= asset_path('thumbs_down.png') %>";
  var thumbsUp = "<%= asset_path('thumbs_up.png') %>";
  var editImg = "<%= asset_path('edit.png') %>";
  var deleteImg = "<%= asset_path('delete.png') %>";
  return '<input class="thumbs-down-image idea-button" type="image" src="' + thumbsDown + '">' +
  '<input class="thumbs-up-image idea-button" type="image" src="' + thumbsUp + '">' +
  '<input class="edit-image idea-button" type="image" src="' + editImg + '">' +
  '<input class="delete-image idea-button" type="image" src="' + deleteImg + '">'
};

function displayTags(ideaObj){
  var allTags = ""
  $(ideaObj.tags).each(function() {
    allTags = allTags + $(this)[0].name + ' '
  })
  return allTags;
};
