@import "colors";

.delete-image {
  width: 35px;
  cursor: pointer;
}

.edit-image {
  width: 40px;
  cursor: pointer;
}

.thumbs-down-image {
  width: 47px;
  cursor: pointer;
}

.thumbs-up-image {
  width: 40px;
  cursor: pointer;
}
